.page.theme_dark {
    --main-bg-color: var(--color-black-night, #000028);
    --main-bg-image: url("../images/cover-image-dark.png");
    --accent-color: var(--color-purple-pinkish, #ff0070);
    --brand-color: var(--color-purple-vivid, #db00ff);
    --highlight-color: var(--color-black-night, #000028);
    --secondary-color: var(--color-purple-pinkish, #ff0070);

    --text-color: var(--color-pink-light, #f1b2ce);
    --secondary-color-hover: var(--color-purple-transparent, #ff007040);

    --rec-visibility: visible;
}
