.page.theme_light {
    --main-bg-color: var(--color-pink-lightest, #fff1f7);
    --main-bg-image: url("../images/cover-image-light.png");
    --accent-color: var(--color-pink-bright, #ff8dcb);
    --brand-color: var(--color-pink-medium, #ffc2e6);
    --highlight-color: var(--color-black-dark, #353430);
    --secondary-color: var(--color-black-dark, #353430);

    --text-color: var(--color-black-dark, #353430);
    --secondary-color-hover: var(--color-black-transparent, #35343040);

    --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: var(--color-pink-lightest, #fff1f7);
        --main-bg-image: url("../images/cover-image-light.png");
        --accent-color: var(--color-pink-bright, #ff8dcb);
        --brand-color: var(--color-pink-medium, #ffc2e6);
        --highlight-color: var(--color-black-dark, #353430);
        --secondary-color: var(--color-black-dark, #353430);

        --text-color: var(--color-black-dark, #353430);
        --secondary-color-hover: var(--color-black-transparent, #35343040);

        --rec-visibility: hidden;
    }
}
